/* Light mode */
/* primary blue: #485D8E, int'l orange: #F04A00, darker red: #9E0000, lighter blue: #98AAE0 */
[data-md-color-scheme="sfba"] {
  /* Primary color shades */
  --md-primary-fg-color:               hsl(206, 82%, 35%);
  --md-primary-fg-highlight:         #98AAE0;
  /*--md-primary-fg-color--dark:         #004FBE;*/
  /* Accent color shades */
  --md-accent-fg-color:                #F04A00; /* Hover */
  --md-accent-fg-color--transparent:   hsla(18, 100%, 47%,0.1);
}
[data-md-color-scheme="slate"] {
    --md-hue: 206; 
}

.md-banner a {
  color: var(--md-accent-fg-color);
}
.md-banner a:hover {
  color: var(--md-primary-fg-highlight)
}

.md-typeset a {
  font-weight: 500;
}